server:
  port: 2000
spring:
  application:
    name: zuul-server
zuul:
  ignoredServices: '*'
  routes:
    plat:
      path: /plat/** 
      serviceId: plat-service
  prefix: /services 
    plat:
      path: /product/** 
      serviceId: product-service
  prefix: /services #请求前缀